<section id="certificates" class="section">
    <div class="section-inner">

        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">Gift Certificates</h2>
                        <h3 class="sub-title">Need a unique gift option for things to do in olympia?</h3>
                        <span class="section-line"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img alt="escape room certificate" src="assets/img/cert.withshadow.png" />
                </div>

                <div class="col-md-6">
                    <div class="who-we-are-text">
                        <p>Want to give someone the most fun, exciting, and adrenaline pumping hours of their lives?</p>
                        <p>Our escape room gift certificates are the perfect present for almost anyone!</p>
                        <div>
                            <a href="//bookeo.com/exitpuzzles/buyvoucher" class="btn btn-lg btn-rj">Buy Gift Certificate</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>