<section id="faq" class="section section-bgimage-yes" style="background:#838383;">
    <div class="section-inner">
        
        <div class="section-overlay"></div>
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">FAQ?</h2>

                        <h3 class="sub-title">Stuff we get asked</h3>

                        <span class="section-line"></span>
                    </div>
                </div>
            </div>    

            <div class="row">
                {{#each faq.questions}}
                <div class="col-sm-4 col-md-4">
                    <div class="content-boxes style-two top-column">
                        <span class="content-boxes-icon">
                            <i class="fa fa-question"></i> 
                        </span>
                        <div class="content-boxes-text">
                            <h4>{{title}}</h4>
                            <p>{{{text}}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</section>