<footer class="footer">
    <section id="footer">
        <div class="container">    
            <div class="row">
                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>OUR LOCATION</h4>
                        
                        <p>109 State Ave NE<br/>Olympia, WA 98501</p>
                        <p>We're located in the heart of downtown Olympia in the old Olympia Press Building, on the corner of State and Capital.
                            There are many entrances to the Olympia Press Building, So when you arrive for your booking appointment, please make sure you are 
                            waiting at the front door on the State Avenue side of the building.  If you get lost or feel that your waiting in the wrong spot, please 
                            call (360) 930-9686 for assistance.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <img src="assets/img/room/front.jpg">
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column">
                    <div class="footer-text">
                        <h4>PARKING</h4>
                        
                        <p>There is plenty of metered parking spots available on the street just outside our front door.  Parking is free on weekdays 
                            after 5:00pm and all day Saturday through Sunday.</p>
                        
                        <p>Downtown Olympia can be busy on weekends, so please allow yourself plenty of time to locate a parking spot. 
                            If your having trouble finding a free spot, parking lots with day rates are available across the street.
                        </p>
                    </div>                                                
                </div>
            </div>   

            <div class="row">
                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>Get In Touch</h4>
                        
                        <p>Feel free to reach out via your favorite communication medium.</p>
                        
                        <ul class="icon-list list-unstyled">
                            <li>
                                <svg class="footer-icon-contact" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-52.5-3.5t-57.5-12.5-47.5-14.5-55.5-20.5-49-18q-98-35-175-83-128-79-264.5-215.5t-215.5-264.5q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47.5-12.5-57.5-3.5-52.5q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z"/></svg> 360.930.9686
                            </li>
                            
                            <li>
                                <svg class="footer-icon-contact" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-2q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zm128-37v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z"/></svg> info@exitpuzzles.com
                            </li>

                            <li>
                                <svg class="footer-icon-contact" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1152 640q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19-67.5-19-46.5-52l-365-774q-33-70-33-179 0-212 150-362t362-150 362 150 150 362z"/></svg> 109 State Ave. NE, Olympia, WA
                            </li>
                            
                            <li>
                                <svg class="footer-icon-contact" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1024 544v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23zm416 352q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg> Friday - 5 to 9 PM
                                <div style="padding-left:25px">Saturday and Sunday - 11 AM to 9 PM</div>
                            </li>
                        </ul>
                        
                        <ul class="social-icon-list list-unstyled list-inline">
                            <li>
                                <a href="//facebook.com/ExitPuzzlesEscapeRoom"><svg class="footer-icon-social" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/></svg></a>
                            </li>
                            
                            <li>
                                <a href="//twitter.com/ExitPuzzles"><svg class="footer-icon-social" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/></svg></a>
                            </li>

                            <li>
                                <a href="//www.instagram.com/ExitPuzzlesEscapeRoom/"><svg class="footer-icon-social" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z"/></svg></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>Newsletter</h4>
                                                    
                        <form action="//exitpuzzles.us13.list-manage.com/subscribe/post?u=f5a7a215c5bb6a2ab5f0f02d3&amp;id=10eb1ea232" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
                        <form role="form" class="newsletter-form">
                            <div class="form-group">
                                <label for="email_address">Email Address*</label>
                                <input type="email" id="mce-EMAIL" class="form-control" value="" name="EMAIL"> 
                            </div>
                            
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" id="mce-FNAME" class="form-control">
                            </div>
                            
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f5a7a215c5bb6a2ab5f0f02d3_10eb1ea232" tabindex="-1" value=""></div>

                            <button type="submit" class="btn btn-rj" id="mc-embedded-subscribe">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="float:left">Copyright &copy; {{year}}</p>
                    <p style="float:right">Made with <svg style="margin-left:1px;margin-right:1px;" width="10" height="10" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#c9c9c9"/></svg> by <a href='mailto:kevin.clement@gmail.com'>Kevin</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>