<footer class="footer">
    <section id="footer">
        <div class="container">    
            <div class="row">
                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>OUR LOCATION</h4>
                        
                        <p>109 State Ave NE<br/>Olympia, WA 98501</p>
                        <p>We're located in the heart of downtown Olympia in the old Olympia Press Building, on the corner of State and Capital.
                            There are many entrances to the Olympia Press Building, So when you arrive for your booking appointment, please make sure you are 
                            waiting at the front door on the State Avenue side of the building.  If you get lost or feel that your waiting in the wrong spot, please 
                            call (360) 930-9686 for assistance.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <img src="assets/img/room/front.jpg">
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column">
                    <div class="footer-text">
                        <h4>PARKING</h4>
                        
                        <p>There is plenty of metered parking spots available on the street just outside our front door.  Parking is free on weekdays 
                            after 5:00pm and all day Saturday through Sunday.</p>
                        
                        <p>Downtown Olympia can be busy on weekends, so please allow yourself plenty of time to locate a parking spot. 
                            If your having trouble finding a free spot, parking lots with day rates are available across the street.
                        </p>
                    </div>                                                
                </div>
            </div>   

            <div class="row">
                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>Get In Touch</h4>
                        
                        <p>Feel free to reach out via your favorite communication medium.</p>
                        
                        <ul class="icon-list list-unstyled">
                            <li>
                                <i class="fa fa-phone"></i> 360.930.9686
                            </li>
                            
                            <li>
                                <i class="fa fa-envelope-o"></i> info@exitpuzzles.com
                            </li>
                            
                            <li>
                                <i class="fa fa-map-marker"></i> 109 State Ave. NE, Olympia, WA
                            </li>
                            
                            <li>
                                <i class="fa fa-clock-o"></i> Friday - 5 to 9 PM
                                <div style="padding-left:25px">Saturday and Sunday - 11 AM to 9 PM</div>
                            </li>
                        </ul>
                        
                        <ul class="social-icon-list list-unstyled list-inline">
                            <li>
                                <a href="//facebook.com/ExitPuzzlesEscapeRoom"><svg class="footer-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/></svg></a>
                            </li>
                            
                            <li>
                                <a href="//twitter.com/ExitPuzzles"><svg class="footer-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/></svg></a>
                            </li>

                            <li>
                                <a href="//www.instagram.com/ExitPuzzlesEscapeRoom/"><svg class="footer-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z"/></svg></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-column not-right-column">
                    <div class="footer-text">
                        <h4>Newsletter</h4>
                                                    
                        <form action="//exitpuzzles.us13.list-manage.com/subscribe/post?u=f5a7a215c5bb6a2ab5f0f02d3&amp;id=10eb1ea232" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
                        <form role="form" class="newsletter-form">
                            <div class="form-group">
                                <label for="email_address">Email Address*</label>
                                <input type="email" id="mce-EMAIL" class="form-control" value="" name="EMAIL"> 
                            </div>
                            
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" id="mce-FNAME" class="form-control">
                            </div>
                            
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f5a7a215c5bb6a2ab5f0f02d3_10eb1ea232" tabindex="-1" value=""></div>

                            <button type="submit" class="btn btn-rj" id="mc-embedded-subscribe">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; {{year}} <a href="#">Exit Puzzles.</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>