<section id="intro">
    <div class="intro-body text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 intro-content">
                    
                    <div class="logo">
                        <img src="assets/img/logo.png" style="height:130px" alt="Olympia Escape Room">
                    </div>
                    
                    <div class="intro-text text-center">
                        <h2>Exit Puzzles</h2>

                        <p class="lead">Olympia's Original Escape Room</p>
                    </div>

                    <span>
                        <a href="//bookeo.com/exitpuzzles" class="btn btn-lg btn-rj bookBtn">Book Now</a>
                    </span>
                    <div class="page-scroll learnMore">
                        <a href="#rooms" class="btn btn-lg btn-rj">Learn More</a>
                    </div>

                    <div class="intro-text text-center intro-alert">
                        <div class="intro-alert-box">
                            <img src="assets/img/alert-white.png"/>
                            <div class="intro-alert-title">
                                <div style="font-size:32px">WE'RE OPEN</div>
                                <div style="font-size:14px">AND ALL GAMES ARE PRIVATE!</div>
                                <div class="intro-alert-hr"></div>
                            </div>                                                     

                            <div class="intro-alert-body">
                                <p>Even though we are excited to be reopening, your safety is our number one priority. At the advise of the Governor Inslee, the CDC and WHO, we have implemented new safety procedures and have also made all games private regardless of how many tickets you purchase.</p>
                                <p>Due to rooms becoming private, we've had to establish minimum person requirements for the rooms to ensure guests have the possibility to fully complete the scenarios. See rooms for their requirements.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>