<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#page-top"><img src="assets/img/logo_28x28.png" srcset="assets/img/logo_56x56.png 2x" id="headerLogo">Exit Puzzles</a>
        </div>

        <div class="navbar-collapse collapse navbar-rj-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="//bookeo.com/exitpuzzles" style="color:#F89D29">Book</a>
                </li>

                {{#each nav.links}}
                <li class="page-scroll">
                    <a href="#{{url}}">{{text}}</a>
                </li>
                {{/each}}
                
            </ul>
        </div>
    </div>

    <div class="headerAlert">
        <div class="container">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA20lEQVRIie2USQrCMBhGH+JwgG4EBW8gLnXjQjceyOlETtfwBoIu1EuouG1cNIW0pBnauBE/+KC08F6SPxT+CZgBcAdu8jlo6sAJELJnoBFSsFDgaeeh4G3goRE8gU4IwVYDT7upCh8DsUEggElZeH6wQvmmvis98KVmtTqBILkEXukCLw/BG+j5CPYaiEkggJ0rfFoAsAkEMLPBm8DFALD1CrRMgnUFeNpVEbxosD5HZBz4wWF1LgJBckkyGQU4mnyHADUp6Ou2VDEZZgQcsf93XBpLVvSFRf9iPp1lvSLpO9oOAAAAAElFTkSuQmCC"/>
            <div class="headerAlertText">
                Covid-19: Yes, We're Open!
                <a href="//bookeo.com/exitpuzzles" class="alertBookNowButton">
                    <div class="alertBookNowText">BOOK NOW</div>
                </a>
            </div>
        </div>
        
    </div>
</nav>