<section id="reviews" class="section">
    <div class="section-inner">            

        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">Reviews</h2>
                        <span class="section-line"></span>
                    </div>
                </div>
            </div>    

            <div class="row">
                {{#each reviews.reviews}}
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <blockquote>
                                <p>{{quote}}</p>
                            </blockquote>
                        </div>

                        <div class="testimonial-info clearfix">
                            <img width="100" src="{{image}}" alt="" class="img-circle img-thumbnail"/>
                            <p class="testimonial-author">{{author}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
                           
        </div>
    </div>
</section>