<section id="rooms" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">ROOMS</h2>

                        <span class="section-line"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-museum" class="owl-carousel owl-theme">
                        {{#each rooms.museum.images }}
                        <div class="item">
                            <img data-src="{{url}}" alt="" class="img-responsive img-rounded lazyOwl"/>
                        </div>                        
                        {{/each}}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="rooms-text">
                        <h4 style="margin-bottom:10px;">THE MUSEUM OF CURIOSITY</h4>
                        <h5 style="font-size:16px">Team Sizes: 6-10</h5>

                        <p>Olympia's greatest tourist trap 'The Museum of Curiosity' is threatened with closure, 
                           unless you and your team can help to unravel the museums curious past. See if you have what it
                           takes to discover the mystery of the missing curator, and perhaps put an end to the alleged curse
                           that has been brought to the museum.</p>

                        <p>This game includes physical activity such as kneeling and crawling. 
                           Comfortable shoes are highly recommended. The game also features low lighting in some areas.
                           This game is only appropriate for 16 years and up. </p>

                        <div>
                            <a href="//bookeo.com/exitpuzzles?type=41556J7E9JF16DBE88179A" class="btn btn-lg btn-rj">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height:20px;"></div>

            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-landlord" class="owl-carousel owl-theme">
                        {{#each rooms.landlord.images }}
                        <div class="item">
                            <img data-src="{{url}}" alt="" class="img-responsive img-rounded lazyOwl"/>
                        </div>                        
                        {{/each}}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="rooms-text">
                        <h4 style="margin-bottom:10px;">THE LANDLORD'S ESCAPE</h4>
                        <h5 style="font-size:16px">Team Sizes: 4-8</h5>

                        <p>This is Exit Puzzles debut escape room experience that will keep you immersed for 70 minutes as you and your teammates explore a thematically decorated room 
                        for clues to solve the room's puzzles and mysteries. This room features custom-made puzzles, artwork, and interactive electronics, along with a visually striking set design.</p>

                        <p>Find yourself entangled in the mysteries of one of downtown Olympia's oldest buildings.  The previous building's manager, Mr. Dominus has taken ill and disappeared.
                            Only leaving behind a mysterious locked box.  After multiple threats from the reclusive landlord, you and your team have been tasked with discovering what dangers 
                            have been left behind.  It's time for you to discover once and for all... what's in the box?</p>

                        <div>
                            <a href="//bookeo.com/exitpuzzles?type=41556JF4P4M155D259F4E5" class="btn btn-lg btn-rj">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div id="certificates" class="row" style="padding-top:75px;">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Gift Certificates</h2>
                            <h3 class="sub-title">Need a unique gift option for things to do in olympia?</h3>
                            <span class="section-line"></span>
                        </div>
                    </div>
            </div>
    
            <div class="row">
                    <div class="col-md-6">
                        <img alt="escape room certificate" src="assets/img/cert.withshadow.png" />
                    </div>
    
                    <div class="col-md-6">
                        <div class="who-we-are-text">
                            <p>Want to give someone the most fun, exciting, and adrenaline pumping hours of their lives?</p>
                            <p>Our escape room gift certificates are the perfect present for almost anyone!</p>
                            <div>
                                <a href="//bookeo.com/exitpuzzles/buyvoucher" class="btn btn-lg btn-rj">Buy Gift Certificate</a>
                            </div>
                        </div>
                    </div>
            </div>
    
            </div>
        </div>
    </div>
</section>