<section id="who-we-are" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">ROOMS</h2>

                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-who-we-are" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/img/room/room1.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="assets/img/room/room2.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="assets/img/room/room3.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="assets/img/room/room4.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="assets/img/room/room5.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <div class="item">
                            <img src="assets/img/room/room6.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>

                        <!-- //.item -->
                    </div>
                    <!-- //.owl-carousel -->
                </div>
                <!-- //.col-md-6 -->

                <div class="col-md-6">
                    <div class="who-we-are-text">
                        <h4>THE LANDLORD'S OFFICE</h4>

                        <p>This is Exit Puzzles debut escape room experience that will keep you immersed for 70 minutes as you and your teammates explore a thematically decorated room 
                        for clues to solve the room's puzzles and mysteries. This room features custom-made puzzles, artwork, and interactive electronics, along with a visually striking set design.</p>

                        <p>Find yourself entangled in the mysteries of one of downtown Olympia's oldest buildings.  The previous building's manager, Mr. Dominus has taken ill and disappeared.
                            Only leaving behind a mysterious locked box.  After multiple threats from the reclusive landlord, you and your team have been tasked with discovering what dangers 
                            have been left behind.  It's time for you to discover once and for all... what's in the box?</p>

                        <div>
                            <a href="//bookeo.com/exitpuzzles" class="btn btn-lg btn-rj">Book Now</a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.who-we-are-text -->
                </div>
                <!-- //.col-md-6 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.section-inner -->
</section>