/*-----------------------------------------------------------------------
/*  YELLOW
/*  assets/css/colors/yellow.css
/*-----------------------------------------------------------------------

-----------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  1. NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top .navbar-toggle {
  background-color: #f89d29;
}
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #f89d29;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a,
.navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #f89d29;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li.active a,
  .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
    background-color: #f89d29;
  }
}
.navbar-trigger-open a {
  background-color: #f89d29;
}

/*---------------------------------------------------------------------*/
/*  5. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
  border-top: 2px solid #f89d29;
}