/*-----------------------------------------------------------------------
/*  YELLOW
/*  assets/css/component/colors/yellow.css
/*-----------------------------------------------------------------------

/*---------------------------------------------------------------------*/
/*  1. BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-rj {
  background-color: #f89d29;
  border-color: #f9a842;
}
.btn.btn-rj:hover,
.btn.btn-rj:focus {
  background-color: #f79210;
}

/*---------------------------------------------------------------------*/
/*  4. CONTENT BOXES
/*---------------------------------------------------------------------*/
.content-boxes > .content-boxes-icon > i {
  color: #f89d29;
}

/*---------------------------------------------------------------------*/
/*  4.1. CONTENT BOXES - STYLE TWO
/*---------------------------------------------------------------------*/
.content-boxes.style-two > .content-boxes-icon > i {
  background-color: #f89d29;
}

/*---------------------------------------------------------------------*/
/*  11. TABULAR CONTENT
/*---------------------------------------------------------------------*/
.≈ > ul.nav-tabs > li.active > a {
  border-top: 5px solid #f89d29;
}

/*---------------------------------------------------------------------*/
/*  12. TESTIMONIALS
/*---------------------------------------------------------------------*/
.testimonial-item > .testimonial-content {
  background: #f89d29;
}
.testimonial-item > .testimonial-content:after {
  border-top-color: #f89d29;
}