<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exit Puzzles | Olympia Escape Room Puzzle Room</title>
    <meta name="description" content="Olympia's Live Escape Room'">
    <meta name="author" content="Kevin Clement">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <!-- Plugins CSS -->
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">
    
    <!-- Component CSS -->
    <link href="assets/css/component/component.css" rel="stylesheet" type="text/css">
    <link href="assets/css/component/colors/yellow.css" rel="stylesheet" type="text/css">
    
    <!-- Main CSS -->
    <link href="assets/css/rinjani.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors/yellow.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" 
      type="image/png" 
      href="assets/img/favico.png">
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

  {{> loader }}
  {{> intro }}
  {{> nav }}
  {{> rooms }}
  {{> faq }}
  {{> reviews }}
  {{> teams }}
  {{> map }}
  {{> footer }}

  <!-- Vendor -->
  <script src="assets/js/vendor.js"></script> 

  <!-- Main JS -->
  <script src="assets/js/main.js"></script> 
  
  <!-- Map JS -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  
  <!-- Google Analytics -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75362713-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>
