<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75362713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-75362713-1');
    </script>

    <meta charset="utf-8">
    <title>Exit Puzzles | Olympia Escape Room Puzzle Room</title>
    <meta name="description" content="Olympia's Live Escape Room">
    <meta name="author" content="Kevin Clement">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="{{ fingerprint.[assets/css/vendor.css] }}" rel="stylesheet">

    <!-- App CSS -->
    <link href="{{ fingerprint.[assets/css/app.css] }}" rel="stylesheet">

    <!-- Favorite Icon -->
    <link rel="icon" 
      type="image/png" 
      href="assets/img/favico.png">

    <!-- MailChimp -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ff9869ff248cfdd8ebaa4e6c0/09034367ee82d81c104e4494a.js");</script>      
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

  {{> intro }}
  {{> nav }}
  {{> rooms }}
  {{> faq }}
  {{> reviews }}
  {{> teams }}
  {{> map }}
  {{> footer }}

  <!-- Vendor -->
  <script src="{{ fingerprint.[assets/js/vendor.js] }}"></script> 

  <!-- App -->
  <script src="{{ fingerprint.[assets/js/app.js] }}"></script> 
  
  <!-- Map -->
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgeIgLPeSQ5wikRSdiZpOAZYdPi6plsV4"></script>

  <script type="text/javascript" src="https://bookeo.com/widget.js?a=41556LLRCXU155D23E0EE6"></script> 
</body>
</html>
